:root{
    --main-background: #8c9caa;
    --main-txt: #D8D5D2;
}
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:center;
    padding: 20px 50px 40px 50px;
    border: 10px solid var(--main-txt);
    background-color: var(--main-background);
    width: 100%;
}
.section-title{
    text-align: center;
    line-height: 1.5;
    font-size: 40px;
    margin-bottom: 20px;
    border-bottom: 5px solid;
    width: 50%;
    align-self: center;
    color: var(--main-txt);
}
.project-list{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    background-color: var(--main-txt);
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 10px 5px rgba(0,0,0,0.70);
    margin: 10px 20px;
    opacity: 70%;
    width: 36vw;
}
.card img{
    border-radius: 10px;
    height: 22vw;
}
.card:hover{
    opacity: 100%;
}
#Lrg-img{
    flex: 1 100%;
    max-width: 80vw;
}
#Lrg-img img{
    width: 100%;
    height: 20vw;
}

@media screen and (max-width: 768px){
    main{
        padding: 0;
    }
}
@media screen and (max-width: 425px){
    .section-title{
        font-size: 30px;
        border-bottom: 3px solid;
    }
    
    .card h3{
        font-size: 14px;
    }
}